USE [SmartBikeDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_RunTest]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[usp_RunTest]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateUserFavoriteStation]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[usp_GenerateUserFavoriteStation]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateStations]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[usp_GenerateStations]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateAlerts]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[usp_GenerateAlerts]
GO
/****** Object:  StoredProcedure [dbo].[UndoModifyRatingColumnType]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[UndoModifyRatingColumnType]
GO
/****** Object:  StoredProcedure [dbo].[UndoModifyColumnType]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[UndoModifyColumnType]
GO
/****** Object:  StoredProcedure [dbo].[RemoveTypeColumn]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[RemoveTypeColumn]
GO
/****** Object:  StoredProcedure [dbo].[RemovePrimaryKey]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[RemovePrimaryKey]
GO
/****** Object:  StoredProcedure [dbo].[RemoveForeignKey]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[RemoveForeignKey]
GO
/****** Object:  StoredProcedure [dbo].[RemoveDefaultConstraint]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[RemoveDefaultConstraint]
GO
/****** Object:  StoredProcedure [dbo].[RemoveCandidateKey]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[RemoveCandidateKey]
GO
/****** Object:  StoredProcedure [dbo].[ModifyRatingColumnType]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[ModifyRatingColumnType]
GO
/****** Object:  StoredProcedure [dbo].[ModifyColumnType]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[ModifyColumnType]
GO
/****** Object:  StoredProcedure [dbo].[goToVersionState]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[goToVersionState]
GO
/****** Object:  StoredProcedure [dbo].[DropTable]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[DropTable]
GO
/****** Object:  StoredProcedure [dbo].[CreateTable]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[CreateTable]
GO
/****** Object:  StoredProcedure [dbo].[AddTypeColumn]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[AddTypeColumn]
GO
/****** Object:  StoredProcedure [dbo].[AddPrimaryKey]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[AddPrimaryKey]
GO
/****** Object:  StoredProcedure [dbo].[AddForeignKey]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[AddForeignKey]
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultConstraint]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[AddDefaultConstraint]
GO
/****** Object:  StoredProcedure [dbo].[AddCandidateKey]    Script Date: 04.02.2026 19:12:56 ******/
DROP PROCEDURE [dbo].[AddCandidateKey]
GO
ALTER TABLE [dbo].[UserFavoriteStation] DROP CONSTRAINT [FK_UFS_User]
GO
ALTER TABLE [dbo].[UserFavoriteStation] DROP CONSTRAINT [FK_UFS_Station]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK_User_Membership]
GO
ALTER TABLE [dbo].[TestViews] DROP CONSTRAINT [FK_TestViews_Views]
GO
ALTER TABLE [dbo].[TestViews] DROP CONSTRAINT [FK_TestViews_Tests]
GO
ALTER TABLE [dbo].[TestTables] DROP CONSTRAINT [FK_TestTables_Tests]
GO
ALTER TABLE [dbo].[TestTables] DROP CONSTRAINT [FK_TestTables_Tables]
GO
ALTER TABLE [dbo].[TestRunViews] DROP CONSTRAINT [FK_TestRunViews_Views]
GO
ALTER TABLE [dbo].[TestRunViews] DROP CONSTRAINT [FK_TestRunViews_TestRuns]
GO
ALTER TABLE [dbo].[TestRunTables] DROP CONSTRAINT [FK_TestRunTables_TestRuns]
GO
ALTER TABLE [dbo].[TestRunTables] DROP CONSTRAINT [FK_TestRunTables_Tables]
GO
ALTER TABLE [dbo].[Rental] DROP CONSTRAINT [FK_Rental_User]
GO
ALTER TABLE [dbo].[Rental] DROP CONSTRAINT [FK_Rental_Bike]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Rental]
GO
ALTER TABLE [dbo].[MaintenanceLog] DROP CONSTRAINT [FK_MaintenanceLog_MaintenanceTeam]
GO
ALTER TABLE [dbo].[MaintenanceLog] DROP CONSTRAINT [FK_MaintenanceLog_Bike]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [FK__feedback__UserID__5CD6CB2B]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [FK__feedback__BikeID__5DCAEF64]
GO
ALTER TABLE [dbo].[Bike] DROP CONSTRAINT [FK_Bike_Station]
GO
ALTER TABLE [dbo].[Alert] DROP CONSTRAINT [FK__Alert__BikeID__6383C8BA]
GO
ALTER TABLE [dbo].[UserFavoriteStation] DROP CONSTRAINT [DF__UserFavor__IsHom__5E8A0973]
GO
ALTER TABLE [dbo].[UserFavoriteStation] DROP CONSTRAINT [DF__UserFavor__Added__5D95E53A]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [DF__feedback__Feedba__5EBF139D]
GO
ALTER TABLE [dbo].[Alert] DROP CONSTRAINT [DF__Alert__isresolve__656C112C]
GO
ALTER TABLE [dbo].[Alert] DROP CONSTRAINT [DF__Alert__CreatedAt__6477ECF3]
GO
/****** Object:  Index [UQ_MaintenanceTeam_RoomNr]    Script Date: 04.02.2026 19:12:56 ******/
ALTER TABLE [dbo].[MaintenanceTeam] DROP CONSTRAINT [UQ_MaintenanceTeam_RoomNr]
GO
/****** Object:  Index [N_idx_log_BikeID]    Script Date: 04.02.2026 19:12:56 ******/
DROP INDEX [N_idx_log_BikeID] ON [dbo].[MaintenanceLog]
GO
/****** Object:  Index [N_idx_Status]    Script Date: 04.02.2026 19:12:56 ******/
DROP INDEX [N_idx_Status] ON [dbo].[Bike]
GO
/****** Object:  Index [N_idx_StationID]    Script Date: 04.02.2026 19:12:56 ******/
DROP INDEX [N_idx_StationID] ON [dbo].[Bike]
GO
/****** Object:  Table [dbo].[Views]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Views]') AND type in (N'U'))
DROP TABLE [dbo].[Views]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Version]') AND type in (N'U'))
DROP TABLE [dbo].[Version]
GO
/****** Object:  Table [dbo].[UserFavoriteStation]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserFavoriteStation]') AND type in (N'U'))
DROP TABLE [dbo].[UserFavoriteStation]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[TestViews]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestViews]') AND type in (N'U'))
DROP TABLE [dbo].[TestViews]
GO
/****** Object:  Table [dbo].[TestTables]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestTables]') AND type in (N'U'))
DROP TABLE [dbo].[TestTables]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tests]') AND type in (N'U'))
DROP TABLE [dbo].[Tests]
GO
/****** Object:  Table [dbo].[TestRunViews]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestRunViews]') AND type in (N'U'))
DROP TABLE [dbo].[TestRunViews]
GO
/****** Object:  Table [dbo].[TestRunTables]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestRunTables]') AND type in (N'U'))
DROP TABLE [dbo].[TestRunTables]
GO
/****** Object:  Table [dbo].[TestRuns]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestRuns]') AND type in (N'U'))
DROP TABLE [dbo].[TestRuns]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tables]') AND type in (N'U'))
DROP TABLE [dbo].[Tables]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rental]') AND type in (N'U'))
DROP TABLE [dbo].[Rental]
GO
/****** Object:  Table [dbo].[ProceduresTable]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProceduresTable]') AND type in (N'U'))
DROP TABLE [dbo].[ProceduresTable]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payment]') AND type in (N'U'))
DROP TABLE [dbo].[Payment]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Membership]') AND type in (N'U'))
DROP TABLE [dbo].[Membership]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedback]') AND type in (N'U'))
DROP TABLE [dbo].[Feedback]
GO
/****** Object:  View [dbo].[v_AlertsPerStation]    Script Date: 04.02.2026 19:12:56 ******/
DROP VIEW [dbo].[v_AlertsPerStation]
GO
/****** Object:  View [dbo].[v_AlertDetails]    Script Date: 04.02.2026 19:12:56 ******/
DROP VIEW [dbo].[v_AlertDetails]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Station]') AND type in (N'U'))
DROP TABLE [dbo].[Station]
GO
/****** Object:  View [dbo].[v_UnresolvedAlerts]    Script Date: 04.02.2026 19:12:56 ******/
DROP VIEW [dbo].[v_UnresolvedAlerts]
GO
/****** Object:  Table [dbo].[Alert]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alert]') AND type in (N'U'))
DROP TABLE [dbo].[Alert]
GO
/****** Object:  View [dbo].[BikeMaintenanceDetails]    Script Date: 04.02.2026 19:12:56 ******/
DROP VIEW [dbo].[BikeMaintenanceDetails]
GO
/****** Object:  Table [dbo].[MaintenanceLog]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaintenanceLog]') AND type in (N'U'))
DROP TABLE [dbo].[MaintenanceLog]
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bike]') AND type in (N'U'))
DROP TABLE [dbo].[Bike]
GO
/****** Object:  Table [dbo].[MaintenanceTeam]    Script Date: 04.02.2026 19:12:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaintenanceTeam]') AND type in (N'U'))
DROP TABLE [dbo].[MaintenanceTeam]
GO
USE [master]
GO
/****** Object:  Database [SmartBikeDB]    Script Date: 04.02.2026 19:12:56 ******/
DROP DATABASE [SmartBikeDB]
GO
/****** Object:  Database [SmartBikeDB]    Script Date: 04.02.2026 19:12:56 ******/
CREATE DATABASE [SmartBikeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartBikeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartBikeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartBikeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartBikeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartBikeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartBikeDB]
GO
/****** Object:  Table [dbo].[MaintenanceTeam]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceTeam](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NULL,
	[RoomNr] [int] NOT NULL,
 CONSTRAINT [PK_MaintenanceTeam] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bike](
	[BikeID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[StationID] [int] NULL,
 CONSTRAINT [PK_Bikes] PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceLog]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[BikeID] [int] NULL,
	[TeamID] [int] NULL,
	[IssueDescription] [varchar](50) NULL,
	[RepairDate] [datetime] NULL,
 CONSTRAINT [PK_MaintenanceLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BikeMaintenanceDetails]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[BikeMaintenanceDetails]
as
select ml.LogID, ml.RepairDate, ml.IssueDescription,
        b.BikeID, b.Model, b.Status, b.StationID,
        mt.TeamID, mt.TeamName, mt.PhoneNumber
from MaintenanceLog ml
join Bike b on b.BikeID = ml.BikeID
join MaintenanceTeam mt on mt.TeamID = ml.TeamID
where b.Status = 'Maintenance';
GO
/****** Object:  Table [dbo].[Alert]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[BikeID] [int] NULL,
	[AlertType] [varchar](50) NULL,
	[AlertMessage] [varchar](200) NULL,
	[CreatedAt] [datetime] NULL,
	[isresolved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_UnresolvedAlerts]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_UnresolvedAlerts] AS
SELECT AlertID, BikeID, AlertType, AlertMessage, CreatedAt
FROM Alert
WHERE isresolved = 0;
GO
/****** Object:  Table [dbo].[Station]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_AlertDetails]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- see detailed alert
CREATE VIEW [dbo].[v_AlertDetails] AS
SELECT 
    a.AlertID,
    a.AlertType,
    a.AlertMessage,
    a.CreatedAt,
    b.BikeID,
    b.Model,
    s.StationID,
    s.StationName,
    s.City
FROM Alert a
JOIN Bike    b ON a.BikeID   = b.BikeID
JOIN Station s ON b.StationID = s.StationID;
GO
/****** Object:  View [dbo].[v_AlertsPerStation]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- group the alerts per stations
CREATE VIEW [dbo].[v_AlertsPerStation] AS
SELECT 
    s.StationID,
    s.StationName,
    s.City,
    COUNT(a.AlertID) AS TotalAlerts
FROM Station s
JOIN Bike  b ON s.StationID = b.StationID
JOIN Alert a ON b.BikeID    = a.BikeID
GROUP BY s.StationID, s.StationName, s.City;
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BikeID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [varchar](50) NULL,
	[FeedbackDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[MembershipID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[DurationDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RentalID] [int] NULL,
	[Amount] [decimal](7, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProceduresTable]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProceduresTable](
	[fromVersion] [int] NOT NULL,
	[toVersion] [int] NOT NULL,
	[ProcedureName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[fromVersion] ASC,
	[toVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BikeID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TotalCost] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Rental] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRuns]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRuns](
	[TestRunID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[StartAt] [datetime] NULL,
	[EndAt] [datetime] NULL,
 CONSTRAINT [PK_TestRuns] PRIMARY KEY CLUSTERED 
(
	[TestRunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRunTables]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRunTables](
	[TestRunID] [int] NOT NULL,
	[TableID] [int] NOT NULL,
	[StartAt] [datetime] NOT NULL,
	[EndAt] [datetime] NOT NULL,
 CONSTRAINT [PK_TestRunTables] PRIMARY KEY CLUSTERED 
(
	[TestRunID] ASC,
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRunViews]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRunViews](
	[TestRunID] [int] NOT NULL,
	[ViewID] [int] NOT NULL,
	[StartAt] [datetime] NOT NULL,
	[EndAt] [datetime] NOT NULL,
 CONSTRAINT [PK_TestRunViews] PRIMARY KEY CLUSTERED 
(
	[TestRunID] ASC,
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTables]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTables](
	[TestID] [int] NOT NULL,
	[TableID] [int] NOT NULL,
	[NoOfRows] [int] NOT NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_TestTables] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC,
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestViews]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestViews](
	[TestID] [int] NOT NULL,
	[ViewID] [int] NOT NULL,
 CONSTRAINT [PK_TestViews] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC,
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[MembershipID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavoriteStation]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteStation](
	[UserID] [int] NOT NULL,
	[StationID] [int] NOT NULL,
	[AddedAt] [datetime] NOT NULL,
	[IsHome] [bit] NOT NULL,
 CONSTRAINT [PK_UserFavoriteStation] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[VersionNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Views]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Views](
	[ViewID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Views] PRIMARY KEY CLUSTERED 
(
	[ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alert] ON 

INSERT [dbo].[Alert] ([AlertID], [BikeID], [AlertType], [AlertMessage], [CreatedAt], [isresolved]) VALUES (10574, 4, N'Brake issue', N'Brake issue detected on bike 4', CAST(N'2025-11-25T16:39:53.250' AS DateTime), 0)
INSERT [dbo].[Alert] ([AlertID], [BikeID], [AlertType], [AlertMessage], [CreatedAt], [isresolved]) VALUES (10575, 3, N'Low battery', N'Low battery detected on bike 3', CAST(N'2025-11-17T16:40:53.250' AS DateTime), 0)
INSERT [dbo].[Alert] ([AlertID], [BikeID], [AlertType], [AlertMessage], [CreatedAt], [isresolved]) VALUES (10576, 4, N'Software error', N'Software error detected on bike 4', CAST(N'2025-11-30T16:41:53.250' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Alert] OFF
GO
SET IDENTITY_INSERT [dbo].[Bike] ON 

INSERT [dbo].[Bike] ([BikeID], [Model], [Status], [StationID]) VALUES (1, N'CityBike X1', N'Available', 1)
INSERT [dbo].[Bike] ([BikeID], [Model], [Status], [StationID]) VALUES (2, N'E-Bike Z2', N'Available', 1)
INSERT [dbo].[Bike] ([BikeID], [Model], [Status], [StationID]) VALUES (15, N'CityRide Gen1', N'Available', 1)
SET IDENTITY_INSERT [dbo].[Bike] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [BikeID], [Rating], [Comment], [FeedbackDate]) VALUES (1, 1, 1, 5, N'Smooth ride and easy to use.', CAST(N'2025-10-22T14:42:25.080' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [BikeID], [Rating], [Comment], [FeedbackDate]) VALUES (2, 2, 2, 4, N'Good bike, but the seat was a bit high.', CAST(N'2025-10-22T14:42:25.080' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [BikeID], [Rating], [Comment], [FeedbackDate]) VALUES (3, 3, 3, 3, N'Average experience, needs cleaning.', CAST(N'2025-10-22T14:42:25.080' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceLog] ON 

INSERT [dbo].[MaintenanceLog] ([LogID], [BikeID], [TeamID], [IssueDescription], [RepairDate]) VALUES (1, 3, 1, N'Replaced tire and adjusted brakes', CAST(N'2025-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[MaintenanceLog] ([LogID], [BikeID], [TeamID], [IssueDescription], [RepairDate]) VALUES (2, 4, 2, N'Fixed loose chain and checked lights', CAST(N'2025-10-16T00:00:00.000' AS DateTime))
INSERT [dbo].[MaintenanceLog] ([LogID], [BikeID], [TeamID], [IssueDescription], [RepairDate]) VALUES (3, 2, 3, N'Battery replaced and system reset', CAST(N'2025-10-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MaintenanceLog] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceTeam] ON 

INSERT [dbo].[MaintenanceTeam] ([TeamID], [TeamName], [PhoneNumber], [RoomNr]) VALUES (1, N'Team Alpha', N'555-1010', 101)
INSERT [dbo].[MaintenanceTeam] ([TeamID], [TeamName], [PhoneNumber], [RoomNr]) VALUES (2, N'Team Beta', N'555-2020', 102)
INSERT [dbo].[MaintenanceTeam] ([TeamID], [TeamName], [PhoneNumber], [RoomNr]) VALUES (3, N'Team Delta', N'555-3030', 103)
SET IDENTITY_INSERT [dbo].[MaintenanceTeam] OFF
GO
SET IDENTITY_INSERT [dbo].[Membership] ON 

INSERT [dbo].[Membership] ([MembershipID], [Type], [Price], [DurationDays]) VALUES (1, N'Day Ride', CAST(5.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Membership] ([MembershipID], [Type], [Price], [DurationDays]) VALUES (2, N'Week Ride', CAST(20.00 AS Decimal(10, 2)), 7)
INSERT [dbo].[Membership] ([MembershipID], [Type], [Price], [DurationDays]) VALUES (3, N'Month Ride', CAST(60.00 AS Decimal(10, 2)), 30)
SET IDENTITY_INSERT [dbo].[Membership] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [RentalID], [Amount], [PaymentMethod]) VALUES (1, 1, CAST(10.50 AS Decimal(7, 2)), N'Card')
INSERT [dbo].[Payment] ([PaymentID], [RentalID], [Amount], [PaymentMethod]) VALUES (2, 2, CAST(15.00 AS Decimal(7, 2)), N'Card')
INSERT [dbo].[Payment] ([PaymentID], [RentalID], [Amount], [PaymentMethod]) VALUES (3, 3, CAST(12.00 AS Decimal(7, 2)), N'Card')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
INSERT [dbo].[ProceduresTable] ([fromVersion], [toVersion], [ProcedureName]) VALUES (0, 1, N'ModifyRatingColumnType')
INSERT [dbo].[ProceduresTable] ([fromVersion], [toVersion], [ProcedureName]) VALUES (1, 0, N'UndoModifyRatingColumnType')
INSERT [dbo].[ProceduresTable] ([fromVersion], [toVersion], [ProcedureName]) VALUES (1, 2, N'AddTypeColumn')
GO
SET IDENTITY_INSERT [dbo].[Rental] ON 

INSERT [dbo].[Rental] ([RentalID], [UserID], [BikeID], [StartTime], [EndTime], [TotalCost]) VALUES (1, 1, 1, CAST(N'2025-10-16T08:00:00.000' AS DateTime), CAST(N'2025-10-16T09:00:00.000' AS DateTime), CAST(10.50 AS Decimal(10, 2)))
INSERT [dbo].[Rental] ([RentalID], [UserID], [BikeID], [StartTime], [EndTime], [TotalCost]) VALUES (2, 2, 2, CAST(N'2025-10-16T10:00:00.000' AS DateTime), CAST(N'2025-10-16T11:30:00.000' AS DateTime), CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[Rental] ([RentalID], [UserID], [BikeID], [StartTime], [EndTime], [TotalCost]) VALUES (3, 3, 3, CAST(N'2025-10-17T12:00:00.000' AS DateTime), CAST(N'2025-10-17T13:00:00.000' AS DateTime), CAST(12.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Rental] OFF
GO
SET IDENTITY_INSERT [dbo].[Station] ON 

INSERT [dbo].[Station] ([StationID], [StationName], [City], [Capacity]) VALUES (1, N'Minerva', N'Cluj-Napoca', 15)
INSERT [dbo].[Station] ([StationID], [StationName], [City], [Capacity]) VALUES (2, N'Piata Muzeului', N'Cluj-Napoca', 30)
INSERT [dbo].[Station] ([StationID], [StationName], [City], [Capacity]) VALUES (3, N'Iulius Mall', N'Cluj-Napoca', 25)
GO
SET IDENTITY_INSERT [dbo].[Station] OFF
GO
SET IDENTITY_INSERT [dbo].[Tables] ON 

INSERT [dbo].[Tables] ([TableID], [Name]) VALUES (1, N'Station')
INSERT [dbo].[Tables] ([TableID], [Name]) VALUES (2, N'Alert')
INSERT [dbo].[Tables] ([TableID], [Name]) VALUES (3, N'UserFavoriteStation')
SET IDENTITY_INSERT [dbo].[Tables] OFF
GO
SET IDENTITY_INSERT [dbo].[TestRuns] ON 

INSERT [dbo].[TestRuns] ([TestRunID], [Description], [StartAt], [EndAt]) VALUES (1, N'Run for test Test1 at 2025-12-09 10:33:12', CAST(N'2025-12-09T10:33:12.437' AS DateTime), CAST(N'2025-12-09T10:33:12.503' AS DateTime))
INSERT [dbo].[TestRuns] ([TestRunID], [Description], [StartAt], [EndAt]) VALUES (2, N'Run for test Test1 at 2025-12-09 10:41:00', CAST(N'2025-12-09T10:41:00.143' AS DateTime), CAST(N'2025-12-09T10:41:00.677' AS DateTime))
INSERT [dbo].[TestRuns] ([TestRunID], [Description], [StartAt], [EndAt]) VALUES (3, N'Run for test Test1 at 2025-12-09 10:52:58', CAST(N'2025-12-09T10:52:58.723' AS DateTime), CAST(N'2025-12-09T10:52:59.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[TestRuns] OFF
GO
INSERT [dbo].[TestRunTables] ([TestRunID], [TableID], [StartAt], [EndAt]) VALUES (1, 1, CAST(N'2025-12-09T10:33:12.487' AS DateTime), CAST(N'2025-12-09T10:33:12.487' AS DateTime))
INSERT [dbo].[TestRunTables] ([TestRunID], [TableID], [StartAt], [EndAt]) VALUES (1, 2, CAST(N'2025-12-09T10:33:12.487' AS DateTime), CAST(N'2025-12-09T10:33:12.487' AS DateTime))
INSERT [dbo].[TestRunTables] ([TestRunID], [TableID], [StartAt], [EndAt]) VALUES (1, 3, CAST(N'2025-12-09T10:33:12.487' AS DateTime), CAST(N'2025-12-09T10:33:12.487' AS DateTime))
GO
INSERT [dbo].[TestRunViews] ([TestRunID], [ViewID], [StartAt], [EndAt]) VALUES (1, 1, CAST(N'2025-12-09T10:33:12.490' AS DateTime), CAST(N'2025-12-09T10:33:12.490' AS DateTime))
INSERT [dbo].[TestRunViews] ([TestRunID], [ViewID], [StartAt], [EndAt]) VALUES (1, 2, CAST(N'2025-12-09T10:33:12.493' AS DateTime), CAST(N'2025-12-09T10:33:12.497' AS DateTime))
INSERT [dbo].[TestRunViews] ([TestRunID], [ViewID], [StartAt], [EndAt]) VALUES (1, 3, CAST(N'2025-12-09T10:33:12.497' AS DateTime), CAST(N'2025-12-09T10:33:12.503' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestID], [Name]) VALUES (1, N'Test1')
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
INSERT [dbo].[TestTables] ([TestID], [TableID], [NoOfRows], [Position]) VALUES (1, 1, 1000, 3)
INSERT [dbo].[TestTables] ([TestID], [TableID], [NoOfRows], [Position]) VALUES (1, 2, 1000, 2)
INSERT [dbo].[TestTables] ([TestID], [TableID], [NoOfRows], [Position]) VALUES (1, 3, 1000, 1)
GO
INSERT [dbo].[TestViews] ([TestID], [ViewID]) VALUES (1, 1)
INSERT [dbo].[TestViews] ([TestID], [ViewID]) VALUES (1, 2)
INSERT [dbo].[TestViews] ([TestID], [ViewID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Email], [MembershipID]) VALUES (1, N'jessica@yahoo.com', 3)
INSERT [dbo].[User] ([UserID], [Email], [MembershipID]) VALUES (2, N'vanessza@yahoo.com', 2)
INSERT [dbo].[User] ([UserID], [Email], [MembershipID]) VALUES (3, N'antonia@yahoo.com', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserFavoriteStation] ([UserID], [StationID], [AddedAt], [IsHome]) VALUES (1, 1, CAST(N'2025-12-03T16:38:53.413' AS DateTime), 0)
INSERT [dbo].[UserFavoriteStation] ([UserID], [StationID], [AddedAt], [IsHome]) VALUES (1, 2, CAST(N'2025-11-23T16:38:53.413' AS DateTime), 1)
INSERT [dbo].[UserFavoriteStation] ([UserID], [StationID], [AddedAt], [IsHome]) VALUES (1, 10007, CAST(N'2025-12-11T16:38:53.413' AS DateTime), 1)
GO
INSERT [dbo].[Version] ([VersionNumber]) VALUES (0)
GO
SET IDENTITY_INSERT [dbo].[Views] ON 

INSERT [dbo].[Views] ([ViewID], [Name]) VALUES (1, N'v_UnresolvedAlerts')
INSERT [dbo].[Views] ([ViewID], [Name]) VALUES (2, N'v_AlertDetails')
INSERT [dbo].[Views] ([ViewID], [Name]) VALUES (3, N'v_AlertsPerStation')
SET IDENTITY_INSERT [dbo].[Views] OFF
GO
/****** Object:  Index [N_idx_StationID]    Script Date: 04.02.2026 19:12:57 ******/
CREATE NONCLUSTERED INDEX [N_idx_StationID] ON [dbo].[Bike]
(
	[StationID] ASC
)
INCLUDE([BikeID],[Model]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [N_idx_Status]    Script Date: 04.02.2026 19:12:57 ******/
CREATE NONCLUSTERED INDEX [N_idx_Status] ON [dbo].[Bike]
(
	[Status] ASC
)
INCLUDE([BikeID],[Model],[StationID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [N_idx_log_BikeID]    Script Date: 04.02.2026 19:12:57 ******/
CREATE NONCLUSTERED INDEX [N_idx_log_BikeID] ON [dbo].[MaintenanceLog]
(
	[BikeID] ASC
)
INCLUDE([LogID],[IssueDescription],[TeamID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MaintenanceTeam_RoomNr]    Script Date: 04.02.2026 19:12:57 ******/
ALTER TABLE [dbo].[MaintenanceTeam] ADD  CONSTRAINT [UQ_MaintenanceTeam_RoomNr] UNIQUE NONCLUSTERED 
(
	[RoomNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alert] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Alert] ADD  DEFAULT ((0)) FOR [isresolved]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [FeedbackDate]
GO
ALTER TABLE [dbo].[UserFavoriteStation] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[UserFavoriteStation] ADD  DEFAULT ((0)) FOR [IsHome]
GO
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bike] ([BikeID])
GO
ALTER TABLE [dbo].[Bike]  WITH CHECK ADD  CONSTRAINT [FK_Bike_Station] FOREIGN KEY([StationID])
REFERENCES [dbo].[Station] ([StationID])
GO
ALTER TABLE [dbo].[Bike] CHECK CONSTRAINT [FK_Bike_Station]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bike] ([BikeID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__feedback__UserID__5CD6CB2B] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__feedback__UserID__5CD6CB2B]
GO
ALTER TABLE [dbo].[MaintenanceLog]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceLog_Bike] FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bike] ([BikeID])
GO
ALTER TABLE [dbo].[MaintenanceLog] CHECK CONSTRAINT [FK_MaintenanceLog_Bike]
GO
ALTER TABLE [dbo].[MaintenanceLog]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceLog_MaintenanceTeam] FOREIGN KEY([TeamID])
REFERENCES [dbo].[MaintenanceTeam] ([TeamID])
GO
ALTER TABLE [dbo].[MaintenanceLog] CHECK CONSTRAINT [FK_MaintenanceLog_MaintenanceTeam]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Rental] FOREIGN KEY([RentalID])
REFERENCES [dbo].[Rental] ([RentalID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Rental]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_Rental_Bike] FOREIGN KEY([BikeID])
REFERENCES [dbo].[Bike] ([BikeID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_Rental_Bike]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_Rental_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_Rental_User]
GO
ALTER TABLE [dbo].[TestRunTables]  WITH CHECK ADD  CONSTRAINT [FK_TestRunTables_Tables] FOREIGN KEY([TableID])
REFERENCES [dbo].[Tables] ([TableID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestRunTables] CHECK CONSTRAINT [FK_TestRunTables_Tables]
GO
ALTER TABLE [dbo].[TestRunTables]  WITH CHECK ADD  CONSTRAINT [FK_TestRunTables_TestRuns] FOREIGN KEY([TestRunID])
REFERENCES [dbo].[TestRuns] ([TestRunID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestRunTables] CHECK CONSTRAINT [FK_TestRunTables_TestRuns]
GO
ALTER TABLE [dbo].[TestRunViews]  WITH CHECK ADD  CONSTRAINT [FK_TestRunViews_TestRuns] FOREIGN KEY([TestRunID])
REFERENCES [dbo].[TestRuns] ([TestRunID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestRunViews] CHECK CONSTRAINT [FK_TestRunViews_TestRuns]
GO
ALTER TABLE [dbo].[TestRunViews]  WITH CHECK ADD  CONSTRAINT [FK_TestRunViews_Views] FOREIGN KEY([ViewID])
REFERENCES [dbo].[Views] ([ViewID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestRunViews] CHECK CONSTRAINT [FK_TestRunViews_Views]
GO
ALTER TABLE [dbo].[TestTables]  WITH CHECK ADD  CONSTRAINT [FK_TestTables_Tables] FOREIGN KEY([TableID])
REFERENCES [dbo].[Tables] ([TableID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestTables] CHECK CONSTRAINT [FK_TestTables_Tables]
GO
ALTER TABLE [dbo].[TestTables]  WITH CHECK ADD  CONSTRAINT [FK_TestTables_Tests] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestTables] CHECK CONSTRAINT [FK_TestTables_Tests]
GO
ALTER TABLE [dbo].[TestViews]  WITH CHECK ADD  CONSTRAINT [FK_TestViews_Tests] FOREIGN KEY([TestID])
REFERENCES [dbo].[Tests] ([TestID])
GO
ALTER TABLE [dbo].[TestViews] CHECK CONSTRAINT [FK_TestViews_Tests]
GO
ALTER TABLE [dbo].[TestViews]  WITH CHECK ADD  CONSTRAINT [FK_TestViews_Views] FOREIGN KEY([ViewID])
REFERENCES [dbo].[Views] ([ViewID])
GO
ALTER TABLE [dbo].[TestViews] CHECK CONSTRAINT [FK_TestViews_Views]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Membership] FOREIGN KEY([MembershipID])
REFERENCES [dbo].[Membership] ([MembershipID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Membership]
GO
ALTER TABLE [dbo].[UserFavoriteStation]  WITH CHECK ADD  CONSTRAINT [FK_UFS_Station] FOREIGN KEY([StationID])
REFERENCES [dbo].[Station] ([StationID])
GO
ALTER TABLE [dbo].[UserFavoriteStation] CHECK CONSTRAINT [FK_UFS_Station]
GO
ALTER TABLE [dbo].[UserFavoriteStation]  WITH CHECK ADD  CONSTRAINT [FK_UFS_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserFavoriteStation] CHECK CONSTRAINT [FK_UFS_User]
GO
/****** Object:  StoredProcedure [dbo].[AddCandidateKey]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCandidateKey]
AS
BEGIN
    ALTER TABLE Temp
    ADD CONSTRAINT UQ_Temp_CNP UNIQUE (CNP);

    UPDATE Version
    SET VersionNumber += 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultConstraint]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDefaultConstraint]
AS
BEGIN
    ALTER TABLE Feedback
    ADD CONSTRAINT DF_Feedback_Rating DEFAULT(5) FOR Rating;

    UPDATE Version
    SET VersionNumber += 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddForeignKey]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddForeignKey]
AS
BEGIN
    ALTER TABLE Feedback
    ADD Tid INT;

    ALTER TABLE Feedback
    ADD CONSTRAINT FK_Feedback_Temp
    FOREIGN KEY (Tid) REFERENCES Temp(Tid);

    UPDATE Version
    SET VersionNumber += 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddPrimaryKey]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddPrimaryKey]
AS
BEGIN
    CREATE TABLE Temp(
    Tid INT NOT NULL,
    CNP VARCHAR(255) NOT NULL);
    
    ALTER TABLE Temp
    ADD CONSTRAINT PK_Temp_Tid PRIMARY KEY (Tid);

    UPDATE Version
    SET VersionNumber += 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddTypeColumn]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTypeColumn]
AS 
BEGIN
    ALTER TABLE Feedback
    ADD Type VARCHAR(255);

    UPDATE Version
    SET VersionNumber = VersionNumber + 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateTable]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateTable]
AS
BEGIN
    CREATE TABLE New(Test INT)
    UPDATE Version
    SET VersionNumber += 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[DropTable]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DropTable]
AS
BEGIN
    DROP TABLE New
    UPDATE Version
    SET VersionNumber -= 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[goToVersionState]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[goToVersionState] (@newVersion INT) 
AS
BEGIN
    DECLARE @fromVersion INT;
    DECLARE @procedureName VARCHAR(255);
    DECLARE @SQL NVARCHAR(MAX);

    -- get current version
    SELECT @fromVersion = VersionNumber
    FROM Version

    -- validations
    IF @fromVersion > (select max(toVersion) from ProceduresTable)
        RAISERROR('Invalid version', 16, 1);
    IF @fromVersion < (select min(fromVersion) from ProceduresTable)
        RAISERROR('Invalid version', 16, 1);

    -- loop for modifications
    WHILE @fromVersion < @newVersion
    BEGIN
        -- get procedure
        SELECT @procedureName = ProcedureName
        FROM ProceduresTable
        WHERE fromVersion = @fromVersion AND toVersion = @fromVersion + 1;

        PRINT 'Procedure to execute: ' + @procedureName;

        SET @SQL = 'EXEC' + QUOTENAME(@procedureName);
        EXEC sp_executesql @SQL;

        SET @fromVersion += 1;

        UPDATE Version
        SET VersionNumber = @fromVersion;
    END;

    -- loop for undoing
    WHILE @fromVersion > @newVersion
    BEGIN
        -- get procedure
        SELECT @procedureName = ProcedureName
        FROM ProceduresTable
        WHERE fromVersion = @fromVersion AND toVersion = @fromVersion - 1;

        PRINT 'Procedure to execute: ' + @procedureName;

        SET @SQL = 'EXEC' + QUOTENAME(@procedureName);
        EXEC sp_executesql @SQL;

        SET @fromVersion -= 1;

        UPDATE Version
        SET VersionNumber = @fromVersion;
    END;

END;
GO
/****** Object:  StoredProcedure [dbo].[ModifyColumnType]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModifyColumnType](
    @TableName VARCHAR(255),
    @ColumnName VARCHAR(255),
    @NewType VARCHAR(255))
AS 
BEGIN 
    DECLARE @SQL NVARCHAR(255);
    SET @SQL = 'ALTER TABLE [' + @TableName + '] ALTER COLUMN [' + @ColumnName + ']' + ' ' + @NewType;
    EXEC sp_executesql @SQL;
    UPDATE Version
    SET VersionNumber = VersionNumber + 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModifyRatingColumnType]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModifyRatingColumnType]
AS 
BEGIN
    ALTER TABLE Feedback
    ALTER COLUMN Rating VARCHAR(255) NULL;

    UPDATE Version
    SET VersionNumber = VersionNumber + 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveCandidateKey]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveCandidateKey]
AS
BEGIN
    ALTER TABLE Temp
    DROP CONSTRAINT UQ_Temp_CNP;
    
    UPDATE Version
    SET VersionNumber -= 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveDefaultConstraint]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveDefaultConstraint]
AS
BEGIN
    ALTER TABLE Feedback
    DROP CONSTRAINT DF_Feedback_Rating;

    UPDATE Version
    SET VersionNumber -= 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveForeignKey]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveForeignKey]
AS
BEGIN
    ALTER TABLE Feedback
    DROP CONSTRAINT FK_Feedback_Temp;

    ALTER TABLE Feedback
    DROP COLUMN Tid;

    UPDATE Version
    SET VersionNumber -= 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemovePrimaryKey]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemovePrimaryKey]
AS
BEGIN
    ALTER TABLE Temp
    DROP CONSTRAINT PK_Temp_Tid;

    IF OBJECT_ID('dbo.Temp', 'U') IS NOT NULL
        DROP TABLE Temp;
    
    UPDATE Version
    SET VersionNumber -= 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveTypeColumn]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveTypeColumn]
AS
BEGIN
    ALTER TABLE Feedback
    DROP COLUMN Type;

    UPDATE Version
    SET VersionNumber = VersionNumber - 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[UndoModifyColumnType]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UndoModifyColumnType](
    @TableName VARCHAR(255),
    @ColumnName VARCHAR(255),
    @OriginalType VARCHAR(255)
    )
AS
BEGIN 
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = 'ALTER TABLE [' + @TableName + '] ALTER COLUMN [' + @ColumnName + '] ' + @OriginalType;
    EXEC sp_executesql @SQL;
    UPDATE Version
    SET VersionNumber = VersionNumber - 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[UndoModifyRatingColumnType]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UndoModifyRatingColumnType]
AS 
BEGIN
    ALTER TABLE Feedback
    ALTER COLUMN Rating INT NULL;

    UPDATE Version
    SET VersionNumber = VersionNumber - 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateAlerts]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GenerateAlerts] @NoOfRows INT AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaxBikeId INT = 4;
    DECLARE @j INT = 1;

    WHILE @j <= @NoOfRows
    BEGIN
        DECLARE @BikeId INT =
            (ABS(CHECKSUM(NEWID())) % @MaxBikeId) + 1;   -- random bike between 1 and MaxBikeId;
        DECLARE @AlertType VARCHAR(50) =
            CASE (@j % 4)
                WHEN 0 THEN 'Flat tire'
                WHEN 1 THEN 'Brake issue'
                WHEN 2 THEN 'Low battery'
                ELSE        'Software error'
            END;
        DECLARE @CreatedAt DATETIME =
            DATEADD(DAY, - (ABS(CHECKSUM(NEWID())) % 30),  -- random day in last 30 days
                DATEADD(MINUTE, @j % 1440, GETDATE()));-- random minute in the day
        DECLARE @IsResolved BIT =
            CASE WHEN @j % 3 = 0 THEN 1 ELSE 0 END;       -- ~1/3 resolved

        INSERT INTO Alert (BikeID, AlertType, AlertMessage, CreatedAt, isresolved)
        VALUES (
            @BikeId,
            @AlertType,
            CONCAT(@AlertType, ' detected on bike ', @BikeId),
            @CreatedAt,
            @IsResolved
        );

        SET @j = @j + 1;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateStations]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GenerateStations] @NoOfRows INT AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @i INT = 1;

    WHILE @i <= @NoOfRows
    BEGIN
        INSERT INTO Station (StationName, City, Capacity)
        VALUES (
            CONCAT('Station ', @i),               -- StationName
            CASE (@i % 4)                         -- City (rotate between 4 cities)
                WHEN 0 THEN 'Bucharest'
                WHEN 1 THEN 'Cluj-Napoca'
                WHEN 2 THEN 'Iasi'
                ELSE        'Timisoara'
            END,
            10 + (@i % 41)                        -- Capacity between 10 and 50
        );

        SET @i = @i + 1;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateUserFavoriteStation]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GenerateUserFavoriteStation] @NoOfRows INT AS
BEGIN
    SET NOCOUNT ON;
    ;WITH AllPairs AS (
        SELECT 
            u.UserID,
            s.StationID,
            ROW_NUMBER() OVER (ORDER BY NEWID()) AS rn
        FROM [User] u
        CROSS JOIN Station s
    )
    INSERT INTO UserFavoriteStation (UserID, StationID, AddedAt, IsHome)
    SELECT TOP (@NoOfRows)
           UserID,
           StationID,
           DATEADD(DAY, -ABS(CHECKSUM(NEWID())) % 30, GETDATE()),  -- last 30 days
           CASE WHEN ABS(CHECKSUM(NEWID())) % 5 = 0 THEN 1 ELSE 0 END  -- ~20% IsHome
    FROM AllPairs
    ORDER BY rn;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RunTest]    Script Date: 04.02.2026 19:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_RunTest]
    @TestID INT
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------------------
    -- 0. Validate test
    ----------------------------------------------------------------
    DECLARE @TestName NVARCHAR(100);
    SELECT @TestName = Name
    FROM Tests
    WHERE TestID = @TestID;

    IF @TestName IS NULL
    BEGIN
        RAISERROR('Invalid TestID %d', 16, 1, @TestID);
        RETURN;
    END;

    ----------------------------------------------------------------
    -- 1. Insert row in TestRuns
    ----------------------------------------------------------------
    DECLARE @startRun DATETIME = GETDATE();
    DECLARE @TestRunID INT;

    INSERT INTO TestRuns(Description, StartAt, EndAt)
    VALUES (CONCAT('Run for test ', @TestName, ' at ', CONVERT(VARCHAR(19), @startRun, 120)),
            @startRun,
            @startRun);  -- EndAt will be updated later

    SET @TestRunID = SCOPE_IDENTITY();

    ----------------------------------------------------------------
    -- 2. DELETE test data from tables (Position ASC)
    ----------------------------------------------------------------
    DECLARE @TableID INT, @TableName SYSNAME, @NoOfRows INT;

    DECLARE curDel CURSOR FOR
        SELECT tt.TableID, t.Name, tt.NoOfRows
        FROM TestTables tt
        JOIN Tables t ON tt.TableID = t.TableID
        WHERE tt.TestID = @TestID
        ORDER BY tt.Position ASC;      -- delete children first

    OPEN curDel;
    FETCH NEXT FROM curDel INTO @TableID, @TableName, @NoOfRows;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @sqlDel NVARCHAR(MAX);

        IF @TableName = 'Station'
        BEGIN
            -- delete only the newest @NoOfRows stations
            SET @sqlDel = N'
                WITH ToDelete AS (
                    SELECT TOP (' + CAST(@NoOfRows AS NVARCHAR(10)) + N') s.StationID
                    FROM Station s
                    WHERE NOT EXISTS (
                        SELECT 1 FROM Bike b
                        WHERE b.StationID = s.StationID
                    )
                    ORDER BY s.StationID DESC
                )
                DELETE FROM Station
                WHERE StationID IN (SELECT StationID FROM ToDelete);';
        END
        ELSE
        BEGIN
            -- default: delete all rows from that table
            SET @sqlDel = N'DELETE FROM ' + QUOTENAME(@TableName) + N';';
        END

        EXEC (@sqlDel);

        FETCH NEXT FROM curDel INTO @TableID, @TableName, @NoOfRows;
    END


    CLOSE curDel;
    DEALLOCATE curDel;

    ----------------------------------------------------------------
    -- 3. INSERT data into tables (Position DESC) and log to TestRunTables
    ----------------------------------------------------------------
    DECLARE curIns CURSOR FOR
        SELECT tt.TableID, t.Name, tt.NoOfRows
        FROM TestTables tt
        JOIN Tables t ON tt.TableID = t.TableID
        WHERE tt.TestID = @TestID
        ORDER BY tt.Position DESC;     -- insert parents first

    OPEN curIns;
    FETCH NEXT FROM curIns INTO @TableID, @TableName, @NoOfRows;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @startIns DATETIME = GETDATE();

        IF @TableName = 'Station'
            EXEC usp_GenerateStations @NoOfRows;
        ELSE IF @TableName = 'Alert'
            EXEC usp_GenerateAlerts @NoOfRows;
        ELSE IF @TableName = 'UserFavoriteStation'
            EXEC usp_GenerateUserFavoriteStation @NoOfRows;
        -- add more ELSE IF branches if you add more tables to tests

        DECLARE @endIns DATETIME = GETDATE();

        INSERT INTO TestRunTables(TestRunID, TableID, StartAt, EndAt)
        VALUES (@TestRunID, @TableID, @startIns, @endIns);

        FETCH NEXT FROM curIns INTO @TableID, @TableName, @NoOfRows;
    END

    CLOSE curIns;
    DEALLOCATE curIns;

    ----------------------------------------------------------------
    -- 4. Evaluate views and log to TestRunViews
    ----------------------------------------------------------------
    DECLARE @ViewID INT, @ViewName SYSNAME;

    DECLARE curView CURSOR FOR
        SELECT tv.ViewID, v.Name
        FROM TestViews tv
        JOIN Views v ON tv.ViewID = v.ViewID
        WHERE tv.TestID = @TestID;

    OPEN curView;
    FETCH NEXT FROM curView INTO @ViewID, @ViewName;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @startView DATETIME = GETDATE();

        DECLARE @sqlView NVARCHAR(MAX) =
            N'SELECT * FROM ' + QUOTENAME(@ViewName) + N';';

        EXEC (@sqlView);

        DECLARE @endView DATETIME = GETDATE();

        INSERT INTO TestRunViews(TestRunID, ViewID, StartAt, EndAt)
        VALUES (@TestRunID, @ViewID, @startView, @endView);

        FETCH NEXT FROM curView INTO @ViewID, @ViewName;
    END

    CLOSE curView;
    DEALLOCATE curView;

    ----------------------------------------------------------------
    -- 5. Finish test run
    ----------------------------------------------------------------
    UPDATE TestRuns
    SET EndAt = GETDATE()
    WHERE TestRunID = @TestRunID;
END;
GO
USE [master]
GO
